.centre {
    margin-left: 30px;
    margin-top: 2%;
}

.centremsg {
    text-align: center;
    width: 50%;
    margin-top: 5%;
    margin-left: 24%;
}
.centrelogin{
    width: 30%;
    margin: 3%;
}