{% extends 'accounts/navbar.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
    <head>
        <meta charset="UTF-8">
        <title>Approve Leave</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
        <style>
            body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
            .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
            .fa-anchor,.fa-coffee {font-size:200px}
        </style>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script>
            $('#ApproveLeave').addClass('w3-bar-item w3-button w3-padding-large w3-white');

            $('#Home').removeClass('w3-bar-item w3-button w3-padding-large w3-white');
            $('#Home').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
            $('#Profile').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
            $('#ApplyForLeave').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
            $('#Edit').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
            $('#Logout').addClass('w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white');
        </script>
    </head>
    <body>
        <div class="w3-row-padding w3-container w3-padding-64" id="approveleave">
            <div class="w3-content">
                <h1>Approve Leave</h1>
                <table class="w3-table-all w3-margin-top w3-centered tr th w3-auto" action="ApproveLeave"  method="post">
                    <thead>
                    <tr class="w3-black">
                        <th style="display:none;">EmpLeave_Req_ID</th>
                        <th>Emp No</th>
                        <th>Name</th>
                        <th>Reason</th>
                        <th>Leave Type</th>
                        <th>Begin Date</th>
                        <th>End Date</th>
                        <th>Requested Days</th>
                        <th>Status</th>
                        {% for leaves2 in history %}
                            <tr>
                                <form class="w3-container w3-margin-top w3-card-4" action="ApproveLeave"  method="post">
                                <td>{{leaves2.Emp_No}}</td>
                                <td>{{leaves2.Emp_FullName}}</td>
                                <td>{{leaves2.Emp_Comments}}</td>
                                <td>{{leaves2.Leave_Type}}</td>
                                <td>{{leaves2.Begin_Date}}</td>
                                <td>{{leaves2.End_Date}}</td>
                                <td>{{leaves2.Requested_Days}}</td>
                                <td>
                                    {% if leaves2.Leave_Status == 'Pending' %}
                                    <a href="{% url 'accept' leaves2.EmpLeave_Req_ID %}" class="w3-btn w3-green">Approve</a>
                                    <a href="{% url 'decline' leaves2.EmpLeave_Req_ID %}" class="w3-btn w3-red">Decline</a>
                                    {% elif leaves2.Leave_Status == 'Approved'  %}
                                    <button class="w3-btn w3-green" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Approved</button>
                                    {% elif leaves2.Leave_Status == 'Declined'  %}
                                    <button class="w3-btn w3-red" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Declined</button>
                                    {% else %}
                                    <button class="w3-btn w3-orange" disabled="disabled" data-toggle="modal" data-target="#reply_modal">Cancelled</button>
                                    {% endif %}
                                </td>
                                </form>
                            </tr>
                                </thead>
                        {% endfor %}
                </table>
            </div>
        </div>
    </body>
</html>
{% endblock %}