<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" type="text/css" />
    <style>
        body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif}
        .w3-bar,h1,button {font-family: "Montserrat", sans-serif}
        .fa-anchor,.fa-coffee {font-size:200px}
        .header{text-align:center}
    </style>
</head>
<body>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <div class="w3-top">
        <div class="w3-bar w3-black w3-card w3-left-align w3-large">
            <a href="{% url 'home' %}" class="w3-bar-item w3-button w3-padding-large w3-white" id="Home">Home</a>
            <a href="{% url 'profile' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" id="Profile">Profile</a>        
            <a href="{% url 'apply' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" id="ApplyForLeave">Apply For Leave</a>      
            <a href="{% url 'approve' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" id="ApproveLeave">Approve Leave</a>        
            <a href="{% url 'edit' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white " id="Edit">Employees List</a>
            <a href="{% url 'logout' %}" class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white w3-right" id="Logout">Log Out</a>
        </div>
    </div>
    <div >
        {% block content %} 
        {% endblock %}
        
    </div>
</body>

</html>