{% extends "base.html" %}

{% block content %}

<form action="" method="POST">
    {% csrf_token%}
    <div class="centre">
    <div class="form-group">
    <label for="username">Username</label>
    <input type="text" id="username" , name="username" style="margin-left: 20px;"  required/>
    </div>

    <div class="form-group">
    <label for="password">Password</label>
    <input type="password" id="password" , name="password" style="margin-left: 20px;" required/>
    </div>

    <div class="form-group">
    <input type="submit" value="Add Patient" class="btn btn-primary"/>
    </div>
    </div>
</form>
{% for message in messages%}
<div class="alert alert-warning" style= "width: 25%; text-align: center; margin: 25px;">
{{message}}
</div>
{% endfor %}

{% endblock %}