@import "~@angular/material/prebuilt-themes/indigo-pink.css";

/* *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width:100%;
} */
.spacer{
    flex : 1 1 auto ;
}

table{
    width: 100% ;
}