<div>
    <div>
        <header class="w3-container w3-center" style="padding:200px 16px" id="home">
            <h1 class="w3-margin w3-jumbo">Home Page</h1>
            <p class="w3-xlarge pt-md-3">Welcome to Medplus Leave Management System</p>
            <p class="w3-large">Name of Employee : {{employees.First_Name}} {{employees.Last_Name}}</p>
            <p class="w3-large">Employee ID : {{employees.Emp_No}}</p>
            <p class="w3-large">Designation : {{employees.Designation}}</p>
        </header>
     </div>
</div>
