.centre {
    margin-left: 30px;
}

.doctor-buttons {
    margin-left: 1px;
}

.home {
 background-color: antiquewhite;
 width: 40%;
 margin: auto;
 text-align: center;
 padding: 5px;
 border-radius: 12px;
}