<div class="container-fluid col-md-10 offset-md-2 w3-padding-64">
    <h1>EDIT</h1>
    <form [formGroup]='updateForm' > 
        <div class="w3-half form-group col-md-4" >
            <label>First Name</label>
            <input class="form-control" type="text" placeholder="First Name" [formControl]="FirstName">
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1">
            <label>Middle Name</label>
            <input class="form-control" type="text" placeholder="Middle Name" [formControl]="MiddleName">
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>Last Name</label>
            <input class="form-control" type="text" placeholder="Last Name" [formControl]="LastName" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>Gender</label>
            <input class="form-control" type="text" placeholder="Gender" [formControl]="Gender">
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>Birth Date</label>
            <input class="form-control" type="date" placeholder="Birth Date" [formControl]="BirthDate" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>Hire Date</label>
            <input class="form-control" type="date" placeholder="Hire Date" [formControl]="HireDate" >
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>Street Address Line 1</label>
            <input class="form-control" type="text" placeholder="Street Address" [formControl]="StreetAddress" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>Street Address Line 2</label>
            <input class="form-control" type="text" placeholder="Address2" [formControl]="Address2" >
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>City</label>
            <input class="form-control" type="text" placeholder="City" [formControl]="City" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>State</label>
            <input class="form-control" type="text" placeholder="State" [formControl]="State" >
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>Postal Code</label>
            <input class="form-control" type="number" placeholder="Postal Code" [formControl]="PostalCode" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>Country</label>
            <input class="form-control" type="text" placeholder="Country" [formControl]="Country" >
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>Email Address</label>
            <input class="form-control" type="email" placeholder="Email Address" [formControl]="EmailAddress" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>Mobile Number</label>
            <input class="form-control" type="number" placeholder="Mobile Number" [formControl]="MobileNumber" >
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3">
            <label>Designation</label>
            <input class="form-control" type="text" placeholder="Designation" [formControl]="Designation" >
        </div>
        <div class="w3-half form-group col-md-4 offset-md-1 pt-md-3">
            <label>Salary</label>
            <input class="form-control" type="number" placeholder="Salary" [formControl]="Salary">
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3 pb-md-4">
            <button (click)="onSubmit()" class="w3-black btn" >Update</button>
        </div>
        <div class="w3-half form-group col-md-4 pt-md-3 pb-md-4 offset-md-1">
            <button (click)="back()" class="w3-black btn btn-primary"  type="submit" name="back">Back</button>
        </div>        
    </form>
</div>