{% extends "base.html" %}

{% block content %}
<div class="centre">
<form action="" method="post">
    {% csrf_token%}
    <div class>
      <div class="form-group">
        <label for="intime">Intime</label>
        <input type="time" id="intime" , name="intime" required />
      </div>

      <div class="form-group">
        <label for="outime">Outime</label>
        <input type="time" id="outime" , name="outime" required />
      </div>

      <div class="form-group">
        <label for="each_slot_time">Each Slot Time</label>
        <input type="time" id="each_slot_time" , name="each_slot_time" required />
      </div>

      <div class="form-group">
        <label for="break_time">Break Time</label>
        <textarea id="break_time" , name="break_time" required> </textarea>
      </br>
        <!-- <sub>
          (Enter Time in 24 hour format)
      </sub> -->
      </div>
      <div class="form-group">
        <label for="date">Date</label>
        <input type="date" min="{{min_date}}" max="{{max_date}}" id="date" , name="date" required />
      </div>

      <div class="form-group">
        <input type="submit" class="btn btn-primary" />
      </div>
    </div>
  </form>
</div>
  {% for message in messages%}
  <div class="alert alert-warning" style= "width: 25%; text-align: center;">
  {{message}}
</div>
  {% endfor %}

  <!-- {% if available_slots %}
  {{slots_24}}
  {% for slots in slots_24 %}
    {{slots}}
{% endfor %}
{% endif %}
{% endblock %} -->