# This is a basic workflow to help you get started with Actions

name: CI

# Controls when the workflow will run
on:
  # Triggers the workflow on push or pull request events but only for the master branch
  push:
    branches: [ Ashrith]
  pull_request:
    branches: [ Ashrith ] 

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:
  # This workflow contains a single job called "build"
  build:
    # The type of runner that the job will run on
    runs-on: ubuntu-18.04

    # Steps represent a sequence of tasks that will be executed as part of the job
    steps:
      # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      - uses: actions/checkout@v2
      - run: |
            git fetch --prune --unshallow
      - name: Set up Python 3.8
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip3 install setuptools
          sudo apt-get install libsasl2-dev python-dev libldap2-dev libssl-dev
          pip3 install -r requirements.txt
      - name: Lint with pylint
        run: |
          pip3 install pylint
          pylint ./tests/basics/
      - name: Test with pytest
        run: |
          pip3 install pytest
          export PYTHONPATH=src
          pytest
